In [423]:
#importing all necessary libraries

import numpy as np
import pandas as pd

pd.options.display.float_format = '{:.2f}'.format 

loan = pd.read_csv(r'C:\Users\rohit\Downloads\loan (1)\loan.csv',dtype=object)

pd.options.display.max_rows = 120

In [424]:
#information regarding the imported csv file

print(loan.shape)

(39717, 111)

In [425]:
#information regarding the imported csv file

print(loan.info)

<bound method DataFrame.info of             id member_id loan_amnt funded_amnt funded_amnt_inv        term  \
0      1077501   1296599      5000        5000            4975   36 months
1      1077430   1314167      2500        2500            2500   60 months
2      1077175   1313524      2400        2400            2400   36 months
3      1076863   1277178     10000       10000           10000   36 months
4      1075358   1311748      3000        3000            3000   60 months
...        ...       ...       ...         ...             ...         ...
39712    92187     92174      2500        2500            1075   36 months
39713    90665     90607      8500        8500             875   36 months
39714    90395     90390      5000        5000            1325   36 months
39715    90376     89243      5000        5000             650   36 months
39716    87023     86999      7500        7500             800   36 months

      int_rate installment grade sub_grade  ... num_tl_90g_dpd_24m  \
0       10.65%      162.87     B        B2  ...                NaN
1       15.27%       59.83     C        C4  ...                NaN
2       15.96%       84.33     C        C5  ...                NaN
3       13.49%      339.31     C        C1  ...                NaN
4       12.69%       67.79     B        B5  ...                NaN
...        ...         ...   ...       ...  ...                ...
39712    8.07%       78.42     A        A4  ...                NaN
39713   10.28%      275.38     C        C1  ...                NaN
39714    8.07%      156.84     A        A4  ...                NaN
39715    7.43%      155.38     A        A2  ...                NaN
39716   13.75%      255.43     E        E2  ...                NaN

      num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies  \
0                    NaN            NaN              NaN                    0
1                    NaN            NaN              NaN                    0
2                    NaN            NaN              NaN                    0
3                    NaN            NaN              NaN                    0
4                    NaN            NaN              NaN                    0
...                  ...            ...              ...                  ...
39712                NaN            NaN              NaN                  NaN
39713                NaN            NaN              NaN                  NaN
39714                NaN            NaN              NaN                  NaN
39715                NaN            NaN              NaN                  NaN
39716                NaN            NaN              NaN                  NaN

      tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit  \
0             0             NaN               NaN            NaN
1             0             NaN               NaN            NaN
2             0             NaN               NaN            NaN
3             0             NaN               NaN            NaN
4             0             NaN               NaN            NaN
...         ...             ...               ...            ...
39712       NaN             NaN               NaN            NaN
39713       NaN             NaN               NaN            NaN
39714       NaN             NaN               NaN            NaN
39715       NaN             NaN               NaN            NaN
39716       NaN             NaN               NaN            NaN

      total_il_high_credit_limit
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
...                          ...
39712                        NaN
39713                        NaN
39714                        NaN
39715                        NaN
39716                        NaN

[39717 rows x 111 columns]>

In [426]:
#checking for the number of empty columns

print('Number of empty Columns:')
print(loan.isnull().all(axis=0).sum())

Number of empty Columns:
54

In [427]:
#viewing the list of all empty columns

loan.isnull().sum()

id                                    0
member_id                             0
loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
emp_title                          2459
emp_length                         1075
home_ownership                        0
annual_inc                            0
verification_status                   0
issue_d                               0
loan_status                           0
pymnt_plan                            0
url                                   0
desc                              12940
purpose                               0
title                                11
zip_code                              0
addr_state                            0
dti                                   0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq            25682
mths_since_last_record            36931
open_acc                              0
pub_rec                               0
revol_bal                             0
revol_util                           50
total_acc                             0
initial_list_status                   0
out_prncp                             0
out_prncp_inv                         0
total_pymnt                           0
total_pymnt_inv                       0
total_rec_prncp                       0
total_rec_int                         0
total_rec_late_fee                    0
recoveries                            0
collection_recovery_fee               0
last_pymnt_d                         71
last_pymnt_amnt                       0
next_pymnt_d                      38577
last_credit_pull_d                    2
collections_12_mths_ex_med           56
mths_since_last_major_derog       39717
policy_code                           0
application_type                      0
annual_inc_joint                  39717
dti_joint                         39717
verification_status_joint         39717
acc_now_delinq                        0
tot_coll_amt                      39717
tot_cur_bal                       39717
open_acc_6m                       39717
open_il_6m                        39717
open_il_12m                       39717
open_il_24m                       39717
mths_since_rcnt_il                39717
total_bal_il                      39717
il_util                           39717
open_rv_12m                       39717
open_rv_24m                       39717
max_bal_bc                        39717
all_util                          39717
total_rev_hi_lim                  39717
inq_fi                            39717
total_cu_tl                       39717
inq_last_12m                      39717
acc_open_past_24mths              39717
avg_cur_bal                       39717
bc_open_to_buy                    39717
bc_util                           39717
chargeoff_within_12_mths             56
delinq_amnt                           0
mo_sin_old_il_acct                39717
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
dtype: int64

### Data Cleaning

In [428]:
#data cleaning - removing the columns with no data

loan.drop(loan.iloc[:, 57:78], inplace = True, axis = 1)

In [429]:
loan.drop(loan.iloc[:, -31:-6], inplace = True, axis = 1)

In [430]:
loan.drop(loan.iloc[:, -4:], inplace = True, axis = 1)

In [431]:
loan.drop(loan.iloc[:, -8:-5], inplace = True, axis = 1)

In [432]:
loan.drop(loan.iloc[:, -8:-7], inplace = True, axis = 1)

In [433]:
#data cleaning - list of columns post removal of columns with no data

loan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12940
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

In [434]:
#data cleaning - no. of rows and columns post removal of columns with no data

print(loan.shape)

(39717, 57)

In [435]:
##data cleaning - removal of columns with less than 30% rows containing any data

columns_drop_list = ["desc","next_pymnt_d","mths_since_last_delinq","mths_since_last_record",]
loan.drop(labels = columns_drop_list, axis =1, inplace=True)

In [436]:
#data cleaning - post removal of columns with less than 30% rows containing any data

print(loan.shape)

(39717, 53)

In [437]:
loan.isnull().sum()

id                               0
member_id                        0
loan_amnt                        0
funded_amnt                      0
funded_amnt_inv                  0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
emp_title                     2459
emp_length                    1075
home_ownership                   0
annual_inc                       0
verification_status              0
issue_d                          0
loan_status                      0
pymnt_plan                       0
url                              0
purpose                          0
title                           11
zip_code                         0
addr_state                       0
dti                              0
delinq_2yrs                      0
earliest_cr_line                 0
inq_last_6mths                   0
open_acc                         0
pub_rec                          0
revol_bal                        0
revol_util                      50
total_acc                        0
initial_list_status              0
out_prncp                        0
out_prncp_inv                    0
total_pymnt                      0
total_pymnt_inv                  0
total_rec_prncp                  0
total_rec_int                    0
total_rec_late_fee               0
recoveries                       0
collection_recovery_fee          0
last_pymnt_d                    71
last_pymnt_amnt                  0
last_credit_pull_d               2
collections_12_mths_ex_med      56
policy_code                      0
application_type                 0
acc_now_delinq                   0
chargeoff_within_12_mths        56
delinq_amnt                      0
pub_rec_bankruptcies           697
tax_liens                       39
dtype: int64

In [438]:
#data cleaning - replace NA with 0 for the length of employment of the applicant

loan.emp_length.fillna('0',inplace=True)

In [439]:
#data cleaning - removing non-numerical characters from the length of employment field

loan['emp_length']=loan.emp_length.str.extract('(\d+)')

In [440]:
#data cleaning - replacing missing data in Employment title and Number of public record bankruptcies with 'Not Known'

loan.emp_title.fillna('Not Known',inplace=True)
loan.pub_rec_bankruptcies.fillna('Not Known',inplace=True)

In [441]:
#data cleaning - stripping the data in the fields 'interest rate' and 'revol_util' of their '%'

loan['int_rate'] = loan['int_rate'].str.rstrip('%')

In [442]:
loan['revol_util'] = loan['revol_util'].str.rstrip('%')

In [443]:
#data cleaning - converting loan amount, funded amount, interest rate,'funded_amnt_inv','installment','annual_inc','dti','emp_length','total_pymnt' to numerical values

cols1 = ['loan_amnt','funded_amnt','int_rate','funded_amnt_inv','installment','annual_inc','dti','emp_length','total_pymnt']
loan[cols1] = loan[cols1].apply(pd.to_numeric)

In [444]:
# statistics regarding Loan status

(loan.loan_status.value_counts()*100)/len(loan)

Fully Paid    82.96
Charged Off   14.17
Current        2.87
Name: loan_status, dtype: float64

In [445]:
#data cleaning - extracting the year and the month from the loan issue date 

loan.issue_d = pd.to_datetime(loan.issue_d, format='%b-%y')
loan['year']=loan['issue_d'].dt.year
loan['month']=loan['issue_d'].dt.month

### Univariate Analysis

In [446]:
#Univariate analysis - statistics of loan amount

loan['loan_amnt'].describe()

count   39717.00
mean    11219.44
std      7456.67
min       500.00
25%      5500.00
50%     10000.00
75%     15000.00
max     35000.00
Name: loan_amnt, dtype: float64

In [447]:
#Univariate analysis - statistics of total_pymnt

loan['total_pymnt'].describe()

count   39717.00
mean    12153.60
std      9042.04
min         0.00
25%      5576.93
50%      9899.64
75%     16534.43
max     58563.68
Name: total_pymnt, dtype: float64

In [448]:
#Univariate analysis - statistics of annual income

loan["annual_inc"].describe()

count     39717.00
mean      68968.93
std       63793.77
min        4000.00
25%       40404.00
50%       59000.00
75%       82300.00
max     6000000.00
Name: annual_inc, dtype: float64

In [449]:
#Univariate analysis - statistics of interest rate

loan['int_rate'].describe()

count   39717.00
mean       12.02
std         3.72
min         5.42
25%         9.25
50%        11.86
75%        14.59
max        24.59
Name: int_rate, dtype: float64

In [450]:
#Univariate analysis - statistics of dti


loan['dti'].describe()

count   39717.00
mean       13.32
std         6.68
min         0.00
25%         8.17
50%        13.40
75%        18.60
max        29.99
Name: dti, dtype: float64

In [451]:
#Univariate analysis - statistics of state of residence

loan['addr_state'].describe()

# CA - California has the highest number of applicants

count     39717
unique       50
top          CA
freq       7099
Name: addr_state, dtype: object

In [452]:
#Checking the field 'application type'

loan['application_type'].describe()

count          39717
unique             1
top       INDIVIDUAL
freq           39717
Name: application_type, dtype: object

In [453]:
#Checking the field 'initial_list_status'

loan['initial_list_status'].describe()

count     39717
unique        1
top           f
freq      39717
Name: initial_list_status, dtype: object

In [454]:
#since application type and initial_list_status have only a single value of data, we can remove them from analysis. So also policy code, installment and pymnt_plan

columns_drop_list2 = ["application_type","policy_code","initial_list_status","installment","pymnt_plan"]
loan.drop(labels = columns_drop_list2, axis =1, inplace=True)
print(loan.shape)
loan.isnull().sum()

(39717, 50)

id                             0
member_id                      0
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
grade                          0
sub_grade                      0
emp_title                      0
emp_length                     0
home_ownership                 0
annual_inc                     0
verification_status            0
issue_d                        0
loan_status                    0
url                            0
purpose                        0
title                         11
zip_code                       0
addr_state                     0
dti                            0
delinq_2yrs                    0
earliest_cr_line               0
inq_last_6mths                 0
open_acc                       0
pub_rec                        0
revol_bal                      0
revol_util                    50
total_acc                      0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
last_pymnt_d                  71
last_pymnt_amnt                0
last_credit_pull_d             2
collections_12_mths_ex_med    56
acc_now_delinq                 0
chargeoff_within_12_mths      56
delinq_amnt                    0
pub_rec_bankruptcies           0
tax_liens                     39
year                           0
month                          0
dtype: int64

In [455]:
#categorising loan amount, annual income, interest and dti

loan['loan_amnt_categories'] = pd.cut(loan['loan_amnt'], [0, 5000, 10000, 15000, 20000, 25000, 30000, 35000], labels=['0-5000', '5000-10000', '10000-15000', '15000-20000', '20000-25000', '25000-30000', '30000-35000'])

loan['annual_inc_categories'] = pd.cut(loan['annual_inc'], [0, 20000, 40000, 60000, 80000,6000000], labels=['0-20000', '20000-40000', '40000-60000', '60000-80000', '80000-6000000'])

loan['int_rate_categories'] = pd.cut(loan['int_rate'], [0, 6, 10, 13, 16, 20, 25], labels=['0-6', '6-10', '10-13', '13-16', '16-20', '20-25'])

loan['dti_categories'] = pd.cut(loan['dti'], [0, 5, 10, 15, 20, 25, 30], labels=['0-5', '5-10', '10-15', '15-20', '20-25', '25-30'])

In [456]:
#univariate analysis - loan amount statistics

loan['loan_amnt_categories'].describe()

count          39717
unique             7
top       5000-10000
freq           12960
Name: loan_amnt_categories, dtype: object

In [457]:
#univariate analysis - annual income statistics

loan['annual_inc_categories'].describe()

count           39717
unique              5
top       40000-60000
freq            11608
Name: annual_inc_categories, dtype: object

In [458]:
#univariate analysis - interest rate statistics

loan['int_rate_categories'].describe()

count     39717
unique        6
top       10-13
freq      12029
Name: int_rate_categories, dtype: object

In [459]:
#univariate analysis - dti statistics

loan['dti_categories'].describe()

count     39534
unique        6
top       10-15
freq       9899
Name: dti_categories, dtype: object

In [460]:
#univariate analysis - statistics of 'purpose'

loan['purpose'].describe()

count                  39717
unique                    14
top       debt_consolidation
freq                   18641
Name: purpose, dtype: object

In [461]:
#univariate analysis - statistics of 'home_ownership'

loan['home_ownership'].describe()

count     39717
unique        5
top        RENT
freq      18899
Name: home_ownership, dtype: object

### Bivariate Analysis

In [462]:
#Bivariate Analysis - Loan status vs Annual income

ls_vs_inc= loan.groupby(['annual_inc_categories', 'loan_status']).loan_status.count().unstack().fillna(0).reset_index()
ls_vs_inc['Total'] = ls_vs_inc['Charged Off'] + ls_vs_inc['Current'] + ls_vs_inc['Fully Paid'] 
ls_vs_inc['Chargedoff_Proportion'] = ls_vs_inc['Charged Off'] / ls_vs_inc['Total']
ls_vs_inc['Fully_paid_Proportion'] = ls_vs_inc['Fully Paid'] / ls_vs_inc['Total']
ls_vs_inc.sort_values('Chargedoff_Proportion', ascending=False)

# Observations:
# The maximum proportion of the number of applicants charged off is in the category of annual income 0 to 20000, minimum is 80000 - 6000000 
# The minimum proportion of the number of applicants fully paid is in the category of 0 to 20000, maximum is 80000 - 6000000.

# Therefore annual income is a good indicator of loan repayability in the future.
# The more the annual income, the more they are likely to pay it back.

loan_status,annual_inc_categories,Charged Off,Current,Fully Paid,Total,Chargedoff_Proportion,Fully_paid_Proportion
0,0-20000,237,9,943,1189,0.20,0.79
1,20000-40000,1514,170,7004,8688,0.17,0.81
2,40000-60000,1729,345,9534,11608,0.15,0.82
3,60000-80000,1024,240,6597,7861,0.13,0.84
4,80000-6000000,1123,376,8872,10371,0.11,0.86

In [463]:
#Bivariate Analysis - Loan status vs Purpose

ls_vs_purpose = loan.groupby(['purpose', 'loan_status']).loan_status.count().unstack().fillna(0).reset_index()
ls_vs_purpose['Total'] = ls_vs_purpose['Charged Off'] + ls_vs_purpose['Current'] + ls_vs_purpose['Fully Paid'] 
ls_vs_purpose['Chargedoff_Proportion'] = ls_vs_purpose['Charged Off'] / ls_vs_purpose['Total']
ls_vs_purpose['Fully_Paid_Proportion'] = ls_vs_purpose['Fully Paid'] / ls_vs_purpose['Total']
ls_vs_purpose.sort_values('Chargedoff_Proportion', ascending=False)

# Observations:
# The maximum proportion of the number of applicants charged off is in the category of 'Small Business', minimum is During a major purchase, Car loans and Wedding loans. 
# The minimum proportion of the number of applicants fully paid is in the category of 'Small business', maximum is 'Major purchase' and 'Wedding'.

# Small businesses seem to have the highest risk, hence it is best to charge them higher rates of interest.

loan_status,purpose,Charged Off,Current,Fully Paid,Total,Chargedoff_Proportion,Fully_Paid_Proportion
11,small_business,475.00,74.00,1279.00,1828.00,0.26,0.70
10,renewable_energy,19.00,1.00,83.00,103.00,0.18,0.81
3,educational,56.00,0.00,269.00,325.00,0.17,0.83
9,other,633.00,128.00,3232.00,3993.00,0.16,0.81
8,moving,92.00,7.00,484.00,583.00,0.16,0.83
5,house,59.00,14.00,308.00,381.00,0.15,0.81
7,medical,106.00,12.00,575.00,693.00,0.15,0.83
2,debt_consolidation,2767.00,586.00,15288.00,18641.00,0.15,0.82
12,vacation,53.00,6.00,322.00,381.00,0.14,0.85
4,home_improvement,347.00,101.00,2528.00,2976.00,0.12,0.85
1,credit_card,542.00,103.00,4485.00,5130.00,0.11,0.87
0,car,160.00,50.00,1339.00,1549.00,0.10,0.86
6,major_purchase,222.00,37.00,1928.00,2187.00,0.10,0.88
13,wedding,96.00,21.00,830.00,947.00,0.10,0.88

In [464]:
#Bivariate Analysis - Loan status vs Loan amount

ls_vs_loan_amt= loan.groupby(['loan_amnt_categories', 'loan_status']).loan_status.count().unstack().fillna(0).reset_index()
ls_vs_loan_amt['Total'] = ls_vs_loan_amt['Charged Off'] + ls_vs_loan_amt['Current'] + ls_vs_loan_amt['Fully Paid'] 
ls_vs_loan_amt['Chargedoff_Proportion'] = ls_vs_loan_amt['Charged Off'] / ls_vs_loan_amt['Total']
ls_vs_loan_amt['Fully_paid_Proportion'] = ls_vs_loan_amt['Fully Paid'] / ls_vs_loan_amt['Total']
ls_vs_loan_amt.sort_values('Chargedoff_Proportion', ascending=False)

# Observations:
# The maximum proportion of the number of applicants charged off is in the category of 30000 - 350000, minimum is 5000 - 10000 
# The minimum proportion of the number of applicants fully paid is in the category of 30000 - 35000, maximum is 5000 - 10000

# According to a higher value of their fully paid proportion and a lower value of their charged off proportion, the loan amount ranges can be charged a lower or higher interest rate.

# It is interesting to note here that the most solvent group is in the neither too high nor too low range of loan amount

loan_status,loan_amnt_categories,Charged Off,Current,Fully Paid,Total,Chargedoff_Proportion,Fully_paid_Proportion
6,30000-35000,180,93,555,828,0.22,0.67
5,25000-30000,143,85,557,785,0.18,0.71
4,20000-25000,542,163,2294,2999,0.18,0.76
3,15000-20000,751,242,3598,4591,0.16,0.78
0,0-5000,1314,96,8158,9568,0.14,0.85
2,10000-15000,1055,303,6628,7986,0.13,0.83
1,5000-10000,1642,158,11160,12960,0.13,0.86

In [465]:
#Bivariate Analysis - Loan status vs Grade

ls_vs_grade = loan.groupby(['grade', 'loan_status']).loan_status.count().unstack().fillna(0).reset_index()
ls_vs_grade['Total'] = ls_vs_grade['Charged Off'] + ls_vs_grade['Current'] + ls_vs_grade['Fully Paid'] 
ls_vs_grade['Chargedoff_Proportion'] = ls_vs_grade['Charged Off'] / ls_vs_grade['Total']
ls_vs_grade['Fully_Paid_Proportion'] = ls_vs_grade['Fully Paid'] / ls_vs_grade['Total']
ls_vs_grade.sort_values('Chargedoff_Proportion', ascending=False)

# Observations:
# The maximum proportion of the number of applicants charged off is in the category of 'G', minimum is 'A' 
# The minimum proportion of the number of applicants fully paid is in the category of 'G' and 'F', maximum is 'A'

# Here the grade is a very good indicator of the applicant's solvency.
# Higher Interest rates can be charged according to how bad their grades are.
# Also lending could be denied to aaplicants with a grade of F or lower.

loan_status,grade,Charged Off,Current,Fully Paid,Total,Chargedoff_Proportion,Fully_Paid_Proportion
6,G,101,17,198,316,0.32,0.63
5,F,319,73,657,1049,0.30,0.63
4,E,715,179,1948,2842,0.25,0.69
3,D,1118,222,3967,5307,0.21,0.75
2,C,1347,264,6487,8098,0.17,0.80
1,B,1425,345,10250,12020,0.12,0.85
0,A,602,40,9443,10085,0.06,0.94

In [466]:
#Bivariate Analysis - Loan status vs Subgrade

ls_vs_subgrade = loan.groupby(['sub_grade', 'loan_status']).loan_status.count().unstack().fillna(0).reset_index()
ls_vs_subgrade['Total'] = ls_vs_subgrade['Charged Off'] + ls_vs_subgrade['Current'] + ls_vs_subgrade['Fully Paid'] 
ls_vs_subgrade['Chargedoff_Proportion'] = ls_vs_subgrade['Charged Off'] / ls_vs_subgrade['Total']
ls_vs_subgrade['Fully_Paid_Proportion'] = ls_vs_subgrade['Fully Paid'] / ls_vs_subgrade['Total']
ls_vs_subgrade.sort_values('Chargedoff_Proportion', ascending=False)

# Observations:
# The maximum proportion of the number of applicants charged off is in the category of 'F5', minimum is 'A1' 
# The minimum proportion of the number of applicants fully paid is in the category of 'F5' , maximum is 'A1'

loan_status,sub_grade,Charged Off,Current,Fully Paid,Total,Chargedoff_Proportion,Fully_Paid_Proportion
29,F5,54.00,5.00,59.00,118.00,0.46,0.50
32,G3,19.00,3.00,26.00,48.00,0.40,0.54
31,G2,28.00,1.00,49.00,78.00,0.36,0.63
34,G5,10.00,1.00,19.00,30.00,0.33,0.63
28,F4,53.00,17.00,98.00,168.00,0.32,0.58
30,G1,31.00,10.00,63.00,104.00,0.30,0.61
26,F2,70.00,16.00,163.00,249.00,0.28,0.65
23,E4,126.00,30.00,298.00,454.00,0.28,0.66
25,F1,91.00,24.00,214.00,329.00,0.28,0.65
27,F3,51.00,11.00,123.00,185.00,0.28,0.66
24,E5,109.00,29.00,278.00,416.00,0.26,0.67
20,E1,198.00,41.00,524.00,763.00,0.26,0.69
21,E2,163.00,42.00,451.00,656.00,0.25,0.69
19,D5,209.00,40.00,625.00,874.00,0.24,0.72
33,G4,13.00,2.00,41.00,56.00,0.23,0.73
18,D4,215.00,63.00,703.00,981.00,0.22,0.72
17,D3,256.00,57.00,860.00,1173.00,0.22,0.73
22,E3,119.00,37.00,397.00,553.00,0.22,0.72
16,D2,271.00,62.00,1015.00,1348.00,0.20,0.75
15,D1,167.00,0.00,764.00,931.00,0.18,0.82
12,C3,270.00,41.00,1218.00,1529.00,0.18,0.80
14,C5,208.00,32.00,946.00,1186.00,0.18,0.80
13,C4,212.00,30.00,994.00,1236.00,0.17,0.80
11,C2,321.00,80.00,1610.00,2011.00,0.16,0.80
10,C1,336.00,81.00,1719.00,2136.00,0.16,0.80
9,B5,356.00,89.00,2259.00,2704.00,0.13,0.84
8,B4,329.00,75.00,2108.00,2512.00,0.13,0.84
7,B3,341.00,92.00,2484.00,2917.00,0.12,0.85
6,B2,228.00,56.00,1773.00,2057.00,0.11,0.86
5,B1,171.00,33.00,1626.00,1830.00,0.09,0.89
4,A5,217.00,27.00,2498.00,2742.00,0.08,0.91
3,A4,178.00,13.00,2695.00,2886.00,0.06,0.93
2,A3,103.00,0.00,1707.00,1810.00,0.06,0.94
1,A2,74.00,0.00,1434.00,1508.00,0.05,0.95
0,A1,30.00,0.00,1109.00,1139.00,0.03,0.97

In [467]:
#Bivariate Analysis - Loan status vs dti

ls_vs_dti= loan.groupby(['dti_categories', 'loan_status']).loan_status.count().unstack().fillna(0).reset_index()
ls_vs_dti['Total'] = ls_vs_dti['Charged Off'] + ls_vs_dti['Current'] + ls_vs_dti['Fully Paid'] 
ls_vs_dti['Chargedoff_Proportion'] = ls_vs_dti['Charged Off'] / ls_vs_dti['Total']
ls_vs_dti['Fully_paid_Proportion'] = ls_vs_dti['Fully Paid'] / ls_vs_dti['Total']
ls_vs_dti.sort_values('Chargedoff_Proportion', ascending=False)

# Observations:
# The maximum proportion of the number of applicants charged off is in the category of 20 - 25, minimum is 0 - 10 
# The minimum proportion of the number of applicants fully paid is in the category of 25 - 30, maximum is 0 - 5

# Here again the dti seems to be a good indicator of the applicant's solvency.
# Lower the dti, more likely the applicant is to repay the loan on time.
# Higher interest rates can be charged for applicants with a higher dti.

loan_status,dti_categories,Charged Off,Current,Fully Paid,Total,Chargedoff_Proportion,Fully_paid_Proportion
4,20-25,1118,237,5460,6815,0.16,0.80
3,15-20,1389,284,7422,9095,0.15,0.82
2,10-15,1402,269,8228,9899,0.14,0.83
5,25-30,87,53,536,676,0.13,0.79
1,5-10,1005,199,6868,8072,0.12,0.85
0,0-5,597,93,4287,4977,0.12,0.86

In [468]:
#Bivariate Analysis - Loan status vs Interest rate

ls_vs_ir = loan.groupby(['int_rate_categories', 'loan_status']).loan_status.count().unstack().fillna(0).reset_index()
ls_vs_ir['Total'] = ls_vs_ir['Charged Off'] + ls_vs_ir['Current'] + ls_vs_ir['Fully Paid'] 
ls_vs_ir['Chargedoff_Proportion'] = ls_vs_ir['Charged Off'] / ls_vs_ir['Total']
ls_vs_ir['Fully_Paid_Proportion'] = ls_vs_ir['Fully Paid'] / ls_vs_ir['Total']
ls_vs_ir.sort_values('Chargedoff_Proportion', ascending=False)

# Observations:
# The maximum proportion of the number of applicants charged off is in the category of 20-25, minimum is 0-6 
# The minimum proportion of the number of applicants fully paid is in the category of 20-25, maximum is 0-6

# Interest rates seem to determine a person's ability to repay the loan.
# However, higher interest rates are also a solution to solving the problem of lending to applicants with a charged off record,
# It could therefore be considered that slightly higher interest rates can be charged for applicant belonging to groups not very likely to default in general.
# As their likelihood of non-repayment increases however, the interest rates can be increased substantially.

loan_status,int_rate_categories,Charged Off,Current,Fully Paid,Total,Chargedoff_Proportion,Fully_Paid_Proportion
5,20-25,296,102,474,872,0.34,0.54
4,16-20,1266,359,3372,4997,0.25,0.67
3,13-16,1644,255,7527,9426,0.17,0.80
2,10-13,1591,347,10091,12029,0.13,0.84
1,6-10,775,75,10195,11045,0.07,0.92
0,0-6,55,2,1291,1348,0.04,0.96

In [469]:
#Bivariate Analysis - Loan status vs Employment length

ls_vs_emplength = loan.groupby(['emp_length', 'loan_status']).loan_status.count().unstack().fillna(0).reset_index()
ls_vs_emplength['Total'] = ls_vs_emplength['Charged Off'] + ls_vs_emplength['Current'] + ls_vs_emplength['Fully Paid'] 
ls_vs_emplength['Chargedoff_Proportion'] = ls_vs_emplength['Charged Off'] / ls_vs_emplength['Total']
ls_vs_emplength['Fully_Paid_Proportion'] = ls_vs_emplength['Fully Paid'] / ls_vs_emplength['Total']
ls_vs_emplength.sort_values('Chargedoff_Proportion', ascending=False)

# Observations:
# There is no clear correlation between the length of employment of a person and their loan status

loan_status,emp_length,Charged Off,Current,Fully Paid,Total,Chargedoff_Proportion,Fully_Paid_Proportion
0,0,228,42,805,1075,0.21,0.75
10,10,1331,391,7157,8879,0.15,0.81
7,7,263,62,1448,1773,0.15,0.82
1,1,1095,146,6582,7823,0.14,0.84
5,5,458,88,2736,3282,0.14,0.83
6,6,307,61,1861,2229,0.14,0.83
8,8,203,44,1232,1479,0.14,0.83
3,3,555,83,3457,4095,0.14,0.84
4,4,462,94,2880,3436,0.13,0.84
2,2,567,97,3724,4388,0.13,0.85
9,9,158,32,1068,1258,0.13,0.85

In [470]:
#Bivariate Analysis - Loan status vs Verification status

ls_vs_ver_status = loan.groupby(['verification_status', 'loan_status']).loan_status.count().unstack().fillna(0).reset_index()
ls_vs_ver_status['Total'] = ls_vs_ver_status['Charged Off'] + ls_vs_ver_status['Current'] + ls_vs_ver_status['Fully Paid'] 
ls_vs_ver_status['Chargedoff_Proportion'] = ls_vs_ver_status['Charged Off'] / ls_vs_ver_status['Total']
ls_vs_ver_status['Fully_Paid_Proportion'] = ls_vs_ver_status['Fully Paid'] / ls_vs_ver_status['Total']
ls_vs_ver_status.sort_values('Chargedoff_Proportion', ascending=False)

# Observations:
# The maximum proportion of the number of applicants charged off is in the category of 'Verified', minimum is 'Not Verified' 
# The minimum proportion of the number of applicants fully paid is in the category of 'Verified', maximum is 'Not Verified'

loan_status,verification_status,Charged Off,Current,Fully Paid,Total,Chargedoff_Proportion,Fully_Paid_Proportion
2,Verified,2051,603,10155,12809,0.16,0.79
1,Source Verified,1434,310,8243,9987,0.14,0.83
0,Not Verified,2142,227,14552,16921,0.13,0.86

In [471]:
#Bivariate Analysis - Loan status vs number of public record bankruptcies

ls_vs_bankr = loan.groupby(['pub_rec_bankruptcies', 'loan_status']).loan_status.count().unstack().fillna(0).reset_index()
ls_vs_bankr['Total']=ls_vs_bankr['Charged Off']+ls_vs_bankr['Current']+ls_vs_bankr['Fully Paid'] 
ls_vs_bankr['Chargedoff_Proportion'] = ls_vs_bankr['Charged Off'] / ls_vs_bankr['Total']
ls_vs_bankr['Fully_Paid_Proportion'] = ls_vs_bankr['Fully Paid'] / ls_vs_bankr['Total']
ls_vs_bankr.sort_values('Chargedoff_Proportion', ascending=False)

# Observations:
# The maximum proportion of the number of applicants charged off is in the category of 2, minimum is 0 
# The minimum proportion of the number of applicants fully paid is in the category of 2, maximum is 0

# Hence the number of public record bankruptcies can be thought of as a good indicator of the applicant's ability to repay the loan
# The more the number of public record bankruptcies, the less likely they are to not repay the loan

loan_status,pub_rec_bankruptcies,Charged Off,Current,Fully Paid,Total,Chargedoff_Proportion,Fully_Paid_Proportion
2,2,2.00,2.00,3.00,7.00,0.29,0.43
1,1,366.00,37.00,1271.00,1674.00,0.22,0.76
3,Not Known,118.00,0.00,579.00,697.00,0.17,0.83
0,0,5141.00,1101.00,31097.00,37339.00,0.14,0.83

In [472]:
#Bivariate Analysis - Loan status vs Number of derogatory public records

ls_vs_pub_rec = loan.groupby(['pub_rec', 'loan_status']).loan_status.count().unstack().fillna(0).reset_index()
ls_vs_pub_rec['Total']=ls_vs_pub_rec['Charged Off']+ls_vs_pub_rec['Current']+ls_vs_pub_rec['Fully Paid'] 
ls_vs_pub_rec['Chargedoff_Proportion'] = ls_vs_pub_rec['Charged Off'] / ls_vs_pub_rec['Total']
ls_vs_pub_rec['Fully_Paid_Proportion'] = ls_vs_pub_rec['Fully Paid'] / ls_vs_pub_rec['Total']
ls_vs_pub_rec.sort_values('Chargedoff_Proportion', ascending=False)

# Observations:
# The maximum proportion of the number of applicants charged off is in the category of 1, minimum is 3, 4 
# The minimum proportion of the number of applicants fully paid is in the category of 2, maximum is 3, 4

# This anomaly could be due to the fact that such people, with a derogatory public record are probably less likely to get loan altogether

loan_status,pub_rec,Charged Off,Current,Fully Paid,Total,Chargedoff_Proportion,Fully_Paid_Proportion
1,1,457.00,43.00,1556.00,2056.00,0.22,0.76
2,2,10.00,3.00,38.00,51.00,0.20,0.75
0,0,5160.00,1094.00,31347.00,37601.00,0.14,0.83
3,3,0.00,0.00,7.00,7.00,0.00,1.00
4,4,0.00,0.00,2.00,2.00,0.00,1.00

In [473]:
#Bivariate Analysis - Loan status vs State of residence

ls_vs_state = loan.groupby(['addr_state', 'loan_status']).loan_status.count().unstack().fillna(0).reset_index()
ls_vs_state['Total'] = ls_vs_state['Charged Off'] + ls_vs_state['Current'] + ls_vs_state['Fully Paid'] 
ls_vs_state['Chargedoff_Proportion'] = ls_vs_state['Charged Off'] / ls_vs_state['Total']
ls_vs_state['FUlly_Paid_Proportion'] = ls_vs_state['Fully Paid'] / ls_vs_state['Total']
ls_vs_state.sort_values('Chargedoff_Proportion', ascending=False)

# Observations:
# The maximum proportion of the number of applicants charged off is in Nebraska, minimum is Maine, Iowa and Indiana 
# The minimum proportion of the number of applicants fully paid is in Nebraska, maximum is Maine, Iowa and Indiana

loan_status,addr_state,Charged Off,Current,Fully Paid,Total,Chargedoff_Proportion,FUlly_Paid_Proportion
28,NE,3.00,0.00,2.00,5.00,0.60,0.40
32,NV,108.00,18.00,371.00,497.00,0.22,0.75
0,AK,15.00,2.00,63.00,80.00,0.19,0.79
40,SD,12.00,2.00,50.00,64.00,0.19,0.78
9,FL,504.00,85.00,2277.00,2866.00,0.18,0.79
13,ID,1.00,0.00,5.00,6.00,0.17,0.83
24,MO,114.00,16.00,556.00,686.00,0.17,0.81
11,HI,28.00,8.00,138.00,174.00,0.16,0.79
31,NM,30.00,6.00,153.00,189.00,0.16,0.81
4,CA,1125.00,150.00,5824.00,7099.00,0.16,0.82
36,OR,71.00,16.00,364.00,451.00,0.16,0.81
43,UT,40.00,6.00,212.00,258.00,0.16,0.82
20,MD,162.00,26.00,861.00,1049.00,0.15,0.82
10,GA,215.00,39.00,1144.00,1398.00,0.15,0.82
46,WA,127.00,22.00,691.00,840.00,0.15,0.82
30,NJ,278.00,60.00,1512.00,1850.00,0.15,0.82
29,NH,25.00,5.00,141.00,171.00,0.15,0.82
27,NC,114.00,38.00,636.00,788.00,0.14,0.81
22,MI,103.00,16.00,601.00,720.00,0.14,0.83
3,AZ,123.00,30.00,726.00,879.00,0.14,0.83
39,SC,66.00,13.00,393.00,472.00,0.14,0.83
17,KY,45.00,14.00,266.00,325.00,0.14,0.82
47,WI,63.00,20.00,377.00,460.00,0.14,0.82
35,OK,40.00,12.00,247.00,299.00,0.13,0.83
23,MN,81.00,10.00,524.00,615.00,0.13,0.85
33,NY,495.00,114.00,3203.00,3812.00,0.13,0.84
26,MT,11.00,2.00,72.00,85.00,0.13,0.85
14,IL,197.00,47.00,1281.00,1525.00,0.13,0.84
34,OH,155.00,45.00,1023.00,1223.00,0.13,0.84
38,RI,25.00,4.00,169.00,198.00,0.13,0.85
44,VA,177.00,38.00,1192.00,1407.00,0.13,0.85
6,CT,94.00,25.00,632.00,751.00,0.13,0.84
5,CO,98.00,26.00,668.00,792.00,0.12,0.84
18,LA,53.00,9.00,374.00,436.00,0.12,0.86
1,AL,54.00,17.00,381.00,452.00,0.12,0.84
19,MA,159.00,43.00,1138.00,1340.00,0.12,0.85
37,PA,180.00,49.00,1288.00,1517.00,0.12,0.85
48,WV,21.00,5.00,151.00,177.00,0.12,0.85
41,TN,2.00,0.00,15.00,17.00,0.12,0.88
42,TX,316.00,68.00,2343.00,2727.00,0.12,0.86
16,KS,31.00,16.00,224.00,271.00,0.11,0.83
45,VT,6.00,1.00,47.00,54.00,0.11,0.87
2,AR,27.00,10.00,208.00,245.00,0.11,0.85
25,MS,2.00,0.00,17.00,19.00,0.11,0.89
8,DE,12.00,1.00,101.00,114.00,0.11,0.89
7,DC,15.00,3.00,196.00,214.00,0.07,0.92
49,WY,4.00,3.00,76.00,83.00,0.05,0.92
21,ME,0.00,0.00,3.00,3.00,0.00,1.00
15,IN,0.00,0.00,9.00,9.00,0.00,1.00
12,IA,0.00,0.00,5.00,5.00,0.00,1.00